.button-container {
    display: flex;
    justify-content: space-between;
    padding-left: 90%;
    padding-bottom: 10px;
  }
  
 .footer{
  background-color:  #C4DAD2;
  color: white;
  bottom: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  
 }
 
  
  