.App {
  text-align: center;
  
  
  
}
 button {
  background-color: #748680;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
} 
button:hover{
  background-color: #6A9C89;

}